header {
    font-size: xx-large;
    text-align: center;
}

body {
    background-color: lightgray;
}

.card {
    margin: auto;
}

#weather-today {
    float: right;
}

.danger {
    background-color: red;
}
.beware {
    background-color: yellow;
}
.safe {
    background-color: greenyellow;
}